@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap");


.UserAuth {
    font-family: 'Abril Fatface', cursive;
}

.Register-Login {
    font-size: 45px;
    letter-spacing: 3p;
}

.AuthForm {
  height: 50%; 
}



.AuthForm>h3 {
    font-size: 55px;
    letter-spacing: 5px;
    margin:10px;
    color: #000000;
    text-shadow: -0.5px 1.5px 0.5px rgb(255, 255, 255), 0.5px 0px 0.5px rgb(243, 235, 235), -0.5px 0.5px 0.5px black, 0.5px 0.5px 0.5px black;
}

.userInput {
    margin-right: 10px;
    font-family: 'Imbue', serif;
    background-color: #dedad5;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 35px;
  }


  .register-signup-btn {
    font-family: 'Imbue', serif;
    background-color: #252324; 
    color: #ffffff; 
    font-size: 35px;
    margin: 10px;
    padding: 5px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-signup-btn:hover {
    background-color: #454444; 
  }