@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap");


.UserAuth {
    font-family: 'Abril Fatface', cursive;
}

.Register-Login {
    font-size: 45px;
    letter-spacing: 3px;
}

.AuthForm {
  height: 50%; 
}

.AuthForm>h3 {
    font-size: 55px;
    letter-spacing: 5px;
    margin:10px;
    color: #000000;
    text-shadow: -0.5px 1.5px 0.5px rgb(255, 255, 255), 0.5px 0px 0.5px rgb(243, 235, 235), -0.5px 0.5px 0.5px black, 0.5px 0.5px 0.5px black;
}

.userInput {
    margin-right: 10px;
    font-family: 'Imbue', serif;
    background-color: #dedad5;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 35px;
  }


  .register-signup-btn {
    font-family: 'Imbue', serif;
    margin:10px;
    --b: 3px;
    --s: .45em; 
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation
  }
  
  .register-signup-btn:hover,
  .register-signup-btn:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .register-signup-btn:active {
    background: var(--color);
    color: #fff;
  }