
.UserInventory {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 50px 0px 50px 0px;
    width: 95vh;
    height: 50vh;
    position: relative;
    overflow: scroll;
    overflow-y: hidden;
  }