
.UserInventory {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 80px 0px 50px 0px;
    margin: 0px 0px;
    width: 92vh;
    height: 25vh;
    position: relative;
    overflow: scroll;
  }