.InvDisplay {
    font-family: 'Abril Fatface', cursive;
    border: 4px groove rgb(43, 42, 42);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    left: 350px;
    height: 41vh;
    width: 92vh;
    overflow: scroll;
    overflow-y: hidden;
}




