.InvDisplay {
    font-family: 'Abril Fatface', cursive;
    border: 4px groove rgb(43, 42, 42);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    left: 370px;
    height: 70vh;
    width: 97vh;
    overflow: hidden;
    overflow-y: hidden;
}




