.EditUserDisplay>h2 {
    font-size: 35px;
    align-items: center;
    text-align: center;
}
.editDisplayNameForm {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editDisplayNameForm>input{
    font-family: 'Abril Fatface', cursive;
    background-color:#AB9C92;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(41, 8, 8);
    display: flex;
    align-items: center;
}
.editProPicForm {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editProPicForm>input{
    font-family: 'Abril Fatface', cursive;
    color: rgb(41, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-upload {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    color: #111;
    background-color: #AB9C92;
    border: 2px solid #111;
    font-size: 15px;
    letter-spacing: 5px;
  }
.file-upload:hover {
    background-color: #b5aba5;
    transform: scale(1.1);
    
  }
.editButtons{
    font-family: 'Abril Fatface', cursive;
    cursor: pointer;
    display: flex;
    touch-action: manipulation;
    position: relative;
    text-align: center;
}
.editButtons>button{
    position: relative;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    border-radius: 10px;
    color: #111;
    background-color: #AB9C92;
    border: 2px solid #111;
    cursor: pointer;
    font-size: 15px;
    touch-action: manipulation;
    display: flex;
    font-size: 15px;
    width: 125px;
    letter-spacing: 7px;
    padding: 5px;
    margin: 5px;
}

.saveButton:hover {
    background-color: #b5aba5;
    transform: scale(1.1);
  }
.cancelButton:hover {
    background-color: #b5aba5;
    transform: scale(1.1);
  }