@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.Trends {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  border: 4px double rgb(43, 42, 42);
  border-radius: 50px;
  gap: 1rem;
  padding: 0px 20px;
  margin: 200px 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 650px;
  letter-spacing: 8px;
}

.Trends>h3{
    font-size: 25px;
  }

  .trends-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
  }

  .trend{
      display: flex;
      flex-direction: column;
      letter-spacing: 5px;
      cursor: pointer;
      font-size: 20px;
      margin-top: 5px;
      transition: transform 0.3s ease
  }
  .trend:hover {
    color: #585656; 
    transform: scale(1.3);
  }
