@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.User {
    font-family: 'Abril Fatface', cursive;
    display: inline-block;
    border: 4px double rgb(43, 42, 42);
    border-radius: 50px;
    padding: 20px 20px;
    text-align: center;
    position: fixed;
    left: 20px;
    height: 500px;
    width: 270px;;
    top: 570px;
    transform: translateY(-50%);
  }


