.BoardsDisplay {
    font-family: 'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0px 75px;
}

.Boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px double rgb(43, 42, 42);
    border-radius: 20px;
    gap: 1rem;
    padding: 0px 0px 50px 0px;
    margin: 10px -30px;
    width: 1100px;
    height: 500px;
    position: fixed;
    justify-content: center;
}
