.BoardsDisplay {
    font-family: 'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    left: 375px;
    height: 80vh;
    width: 92vh;

  }
  
  .Boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px groove rgb(43, 42, 42);
    border-radius: 20px;
    gap: 1rem;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    justify-content: space-evenly;
    padding: 50px 0px 0px 0px;
  }