.BoardsDisplay {
    font-family: 'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0px 75px;
}

.Boards {
    display: flex;
    flex-direction: row;
    border: 4px double rgb(43, 42, 42);
    border-radius: 20px;
    gap: 1rem;
    padding: 80px 0px 20px 0px;
    margin: 5px -20px;
    width: 850px;
    position: fixed;
}

.BoardsDisplay>h2 {
    font-size: 25px;
    letter-spacing: 5px;
    margin-left: 0px;
    margin-top: 30px;
}
.new-board {
    align-items: center;
    background-color: #AB9C92;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
    font-size: 15px;
    height: 35px;
    max-width: 100%;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-left: 650px;
    margin-top: -60px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .new-board:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .new-board:hover:after {
    transform: translate(0, 0);
  }
  
  .new-board:active {
    background-color: #bcb3ae;
    outline: 0;
  }
  
  .new-board:hover {
    outline: 0;
  }
