@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Add CSS so once friend list is being imported from DB the user can scroll through the friends list but the div size does not change */

.Connect {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  border: 4px double rgb(43, 42, 42);
  border-radius: 50px;
  gap: 1rem;
  padding: 0px 20px;
  position: fixed;
  right: 15px;
  top: 430px;
  height: 42vh;
  width: 36vh;
  overflow: hidden;
  overflow-y: scroll;
  letter-spacing: 8px;
}
.Connect>h3{
  font-size: 25px;
}
.friendImage{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    cursor: pointer;
  }
.friends{
    display: flex;
    align-items: center;
}

.friends>div{
    display: flex;
    gap: 10px;
}

.displayname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: transform 0.3s ease
}
.displayname>span:nth-of-type(1){
    font-weight: bold;
}

.displayname:hover {
  color: #585656; 
  transform: scale(0.8);
}



