@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Add CSS so once friend list is being imported from DB the user can scroll through the friends list but the div size does not change */

.followerslist {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  border: 4px double rgb(43, 42, 42);
  border-radius: 50px;
  padding: 0px 20px;
  position: fixed;
  right: 15px;
  top: 480px;
  height: 35vh;
  width: 36vh;
  overflow: hidden;
  overflow-y: scroll;
  letter-spacing: 8px;
}
a {
  text-decoration: none;
  color: rgb(65, 7, 44);
}
.followerslist>h3{
  font-size: 25px;
}
.followerImage{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    cursor: pointer;
  }
.followers{
    display: flex;
    align-items: center;
}

.followers>div{
    display: flex;
    gap: 10px;
}
.followinglist {
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  border: 4px double rgb(43, 42, 42);
  border-radius: 50px;
  padding: 0px 20px;
  position: fixed;
  right: 15px;
  top: 150px;
  height: 35vh;
  width: 36vh;
  overflow: hidden;
  overflow-y: scroll;
  letter-spacing: 8px;
}
.followinglist>h3{
  font-size: 25px;
}
.followingImage{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    cursor: pointer;
  }
.following{
    display: flex;
    align-items: center;
}

.following>div{
    display: flex;
}

.displayname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: transform 0.3s ease
}
.displayname>span:nth-of-type(1){
    font-weight: bold;
}

.displayname:hover {
  color: #585656; 
  transform: scale(0.8);
}



