

.Propic>img {
    width: 200px; 
    height: 200px; 
}
.editButton>img{
    width: 40px; 
    height: 40px;
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
.ProfileName>img {
  width: 50px; 
  height: 40px; 
}

.ProfileName>h2 {
    font-size: 40px;
}
.ProfileName>h3 {
  font-size: 20px;
  letter-spacing: 8px;
}

.editButton>button{
  font-family: 'Abril Fatface', cursive;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

.ProfileRow {
    display: flex;
  }

  .editButton>h5{
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 5px;
  }

.ProfileName:hover .editIcon {
    transform: scale(1.2);
}


.logoutButton>img {
  width: 80px; 
  height: 65px; 
  margin-top: 20px;
}

.logoutButton {
  font-family: 'Abril Fatface', cursive;
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 20px;
}

.logoutButton:hover .FollowIcon {
  transform: scale(1.2);
}
.logoutButton:hover h5 {
  color: #585656; 
}
.editButton:hover h5 {
  color: #585656; 
}

.logoutButton>h5{
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 50px;
}

.logoutButton {
  display: flex;
  align-items: center;
  margin-top: 220px;
}



.logoutButton h5 {
  margin-left: 10px; 
  font-size: 15px;
  letter-spacing: 5px;
}