@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap");

.SearchBar {
    display: flex;
    border-radius: 5px;
    padding: 20px;
  }
  .SearchBar>input {
    font-family: 'Imbue', serif;
    background-color: #dedad5;
    padding: 10px;
    width: 600px;
    height: 40px;
    text-align: center;
    font-size: 50px;
  }

  .SearchBar>button{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
  }

  .submitButton>img {
    width: 80px; 
    height: 65px; 
  }

  .submitIcon {
    transition: transform 0.3s ease;
  }

  .submitButton:hover .submitIcon {
    transform: scale(1.2);
  }
