@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap");

.SearchBar {
    display: flex;
    border-radius: 10px;
    padding: 25px;
  }
  .SearchBar>input {
    font-family: 'Imbue', serif;
    background-color: #dedad5;
    width: 600px;
    height: 40px;
    text-align: center;
    font-size: 30px;
  }

  .SearchBar>input::placeholder {
    color: #000000;
  }