@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.NavBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    border-radius: 10px;
    padding: 25px;
  }
  
  .NavBar > h3 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 30px;
    margin: 0px 8px; 
    color: #513f3f;
  }
