@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.Logo {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    position: flex;
    top: 0;
    margin-left: 20px;
    width: 250px;
    height: auto; 
  }

  .Logo>h1{
    margin:0px;
  }
  
  .Logo-PNG {
    width: 100%;
    height: auto;
  }