@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.Logo {
    font-family: 'Dancing Script', cursive;
    position: flex;
    top: 0;
    left: 0;
    width: 250px;
    height: auto; 
  }
  
  .Logo-PNG {
    width: 100%;
    height: auto;
  }